textarea {
	width:100%;
  resize: vertical;
  padding:15px;
	margin-bottom: 20px;
  border-radius:20px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:80px;
}

.dialogs{
display: grid;
grid-template-columns: 2fr 10fr;
}

.dialog{
	padding: 10px;
}

.dialogsItems{
	display: grid;
	grid-auto-flow: row;
	height: 165px;
}
.dialogsItems :first-child{
	font-weight: 700;
}
.messages{

}

.message{
	padding: 10px;
}



